@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{   
    position: absolute;
    width: 1920px;
    height: 963px;
    left: 0px;
    top: 0px;
    background: #EAE8FE;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}


li{
    list-style: none;
    display: inline-block;
}
.logo{
    position: absolute;
    width: 436px;
    height: 204px;
    left: 742px;
    top: 0px;
}

.cola_display{
    position: absolute;
width: 360px;
height: 545px;
left: 586px;
top: 247px;
border: 2px solid #FFFFFF;
box-sizing: border-box;
background: #FFFFFF;
}

.cola_origin_btn{
    position: absolute;
    width: 94px;
    height: 130px;
    left: 27px;
    bottom: 384px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
   
    border: 3px solid #6327FE;
    border-radius: 10px;
    
}

/* origin */
.cola_origin_img{
    position: absolute;
    width: 36px;
    height: 65px;
    left: 27px;
    top: 11px;
}

.cola_name_origin{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 14px;
    top: 82px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}

.cola_price_origin{
    position: absolute;
width: 70px;
height: 22px;
left: 10px;
top: 99px;

/* blue */

background: #6327FE;
border-radius: 50px;
color: #FFFFFF;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */

display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

 /*violet */
.cola_violet_img{
    position: absolute;
width: 36px;
height: 65px;
left: 27px;
top: 11px;
overflow: hidden;
}

.cola_violet_btn{
    position: absolute;
    width: 94px;
    height: 130px;
    left: 133px;
    bottom: 384px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    border: 3px solid #6327FE;
    background-color: white;
    
    
}



.cola_name_violet{
    position: absolute;
width: 73px;
height: 10px;
left: 20px;
top: 82px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;

color: #333333;
}

.cola_price_violet{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 10px;
    top: 99px;
    background: #6327FE;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* yellow*/

.cola_yellow_img{
    position: absolute;
width: 36px;
height: 65px;
left: 27px;
top: 11px;
}


.cola_yellow_btn{
    position: absolute;
width: 94px;
height: 130px;
left: 239px;
bottom: 384px;

filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
border-radius: 10px;
border: 3px solid #6327FE;
background-color: white;
}

.cola_name_yellow{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 19px;
    top: 82px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.cola_price_yellow{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 10px;
    top: 99px;
    background: #6327FE;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* cool */
.cola_cool_img{
    position: absolute;
width: 36px;
height: 65px;
left: 27px;
top: 11px;
}


.cola_cool_btn{
    position: absolute;
    width: 94px;
    height: 130px;
    left: 27px;
    bottom: 242px;
    
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    border: 3px solid #6327FE;
    background-color: white;
}

.cola_name_cool{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 20px;
    top: 82px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.cola_price_cool{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 10px;
    top: 99px;
    background: #6327FE;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* green */
.cola_green_img{
    position: absolute;
width: 36px;
height: 65px;
left: 27px;
top: 11px;
}


.cola_green_btn{
    position: absolute;
    width: 94px;
    height: 130px;
    left: 133px;
    bottom: 242px;
    
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    border: 3px solid #6327FE;
    background-color: white;
}

.cola_name_green{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 20px;
    top: 82px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.cola_price_green{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 10px;
    top: 99px;
    background: #6327FE;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* orange */
.cola_orange_img{
    position: absolute;
width: 36px;
height: 65px;
left: 27px;
top: 11px;
}


.cola_orange_btn{
    position: absolute;
    width: 94px;
    height: 130px;
    left: 239px;
    bottom: 242px;
    
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    border: 3px solid #6327FE;
    background-color: white;
}

.cola_name_orange{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 20px;
    top: 82px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.cola_price_orange{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 10px;
    top: 99px;
    background: #6327FE;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.balance{
    position: absolute;
width: 200px;
height: 32px;
left: 27px;
bottom: 190px;

border-radius: 5px;
background: #EAE8FE;
}

.balance_text{
    position: absolute;
width: 47px;
height: 20px;
left: 10px;
top: 6px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;

color: #000000;
}

.balance_money{
    position: absolute;
width: 54px;
height: 20px;
left: 136px;
top: 6px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: right;

color: #000000;
}

.change{
    position: absolute;
width: 94px;
height: 32px;
left: 239px;
bottom: 190px;

filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
border-radius: 5px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

align-items: center;
text-align: center;

color: #000000;
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;
}

.input_money{
    position: absolute;
width: 200px;
height: 32px;
left: 27px;
bottom: 146px;

/* Gray 4 */

border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;
background: #FFFFFF;
}

.input_money_btn{

    position: absolute;
width: 94px;
height: 32px;
left: 239px;
bottom: 146px;
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cola_get_container{
    position: absolute;
width: 200px;
height: 106px;
left: 27px;
bottom: 28px;

/* Gray 4 */

border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;
background: #EAE8FE;
}

.cola_get_container{
    overflow-x: hidden;
    overflow-y: scroll;
}
.cola_get_original{
    position: absolute;
width: 170px;
height: 46px;
left: 12px;
top: 12px;

background: #FFFFFF;
border-radius: 5px;
}
.cola_get_ori_img{
    position: absolute;
    left: 10px;
    top: 6px;
}

.cola_get_name_ori{
    position: absolute;
    width: 73px;
    height: 10px;
    left: 38px;
    top: 18px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    
    /* Gray 1 */
    
    color: #333333;
}

.cola_get_count_ori{
    position: absolute;
width: 30px;
height: 30px;
left: 132px;
top: 8px;

/* Gray 4 */

border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #000000;

}

.cola_get_green{
    position: absolute;
    width: 170px;
    height: 46px;
    left: 12px;
    top: 64px;
    
    border-radius: 5px;
    background: #FFFFFF;
}

.cola_get_green_img{
    position: absolute;
width: 18px;
height: 33px;
left: 10px;
top: 6px;
}

.cola_get_name_green{
    position: absolute;
width: 73px;
height: 10px;
left: 38px;
top: 18px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 13px;
display: flex;
align-items: center;

/* Gray 1 */

color: #333333;
}


.cola_get_count_green{
    position: absolute;
width: 30px;
height: 30px;
left: 132px;
top: 8px;

/* Gray 4 */

border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #000000;

}

.cola_get_btn{
    position: absolute;
width: 94px;
height: 106px;
left: 239px;
bottom: 28px;

background: #6327FE;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
border-radius: 5px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;
}