@import url(./reset.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    box-sizing: border-box;
    caret-color: transparent;
}


html, body{
    background: #EAE8FE;
}

header{   
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0 28px;
    padding-bottom: 30px;
    font-family: "Noto Sans KR", sans-serif;
}

.con-main{
    width: 360px;
    background: #FFFFFF;
}

li{
    width: 94px;
    margin: 0 12px 12px 0;
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    text-align: center;
}
.soldout{
    pointer-events: none;
}
.list-violet::before{
    content: "";
    width: 94px;
    height: 135px;
    position: absolute;
    margin: 0 12px 12px 0;
    background: black;
    opacity: .7;
    background-image: url(./images/sold_out.svg);
    border-radius: 10px;
    text-align: center;
    ;
}

.list-cola{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 31px 27px 10px;
}

.list-cola li:active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #6327fe;
    border-radius: 10px;
    box-sizing: border-box;
}

.img-original, .img-cool, .img-green, .img-orange, .img-violet,.img-yellow{
    margin: 11px 29px 6px;   
    
}

.txt-colaName{
    width: 73px;
    margin: 0px 10px 7px 11px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #333333;
}

.txt-price{
    width: 70px;
    padding: 5px 16px 5px 15px;
    margin: 0 11px 9px 13px;
    border-radius: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    background: #6327FE;
}

.txt-balance{
    display: inline-block;
    width: 200px;
    line-height: 33px;
    margin: 0 12px 11px 27px;
    border-radius: 5px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #EAE8FE;
}

.txt-balance::before{
    content: "잔액 : ";
    padding-left: 10px;
    padding-right: 15px;
    width: 47px;
}
.txt-balance::after{
    content: "1,000원 ";
    padding-left: 79px;
    position: absolute;
    width: 54px;
}

.btn-change{
    margin-left: -5px;
    width: 94px;
    height: 33px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    border: 0;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}
.btn-change:hover{
    cursor: pointer;
}

.txt-deposit{
    width: 200px;
    height: 33px;
    margin: 0 12px 11px 27px;
    padding-left: 6px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #BDBDBD;
}

.btn-deposit{
    margin-left: -5px;
    width: 94px;
    height: 32px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    background: #FFFFFF;
}

.btn-deposit:hover{
    cursor: pointer;
}

article.con-getCola{
    display: inline-block;
    width: 200px;
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 12px 15px 27px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: #EAE8FE;
    padding: 12px 10px 0 12px;
}


article.con-getCola::-webkit-scrollbar {
    width: 4px;  /* 스크롤바의 너비 */
}

article.con-getCola::-webkit-scrollbar-thumb {
    height: 79%; /* 스크롤바의 길이 */
    background: #FFFFFF;
    border-radius: 50px;
}

article.con-getCola::-webkit-scrollbar-track {
    background: #EAE8FE; /*스크롤바 뒷 배경*/
}
.con-cola{
    width: 100%;
    height: 46px;
    margin-bottom: 6px;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
}
.img-cola{
    float: left;
    margin: 6px 0 7px 10px;
}
.txt-colaName.voucher{
    float: left;
    margin: 18px 21px 18px 10px;
}
.txt-colaCount{
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    margin: 8px 8px 8px 0px;
    border-radius: 5px;
    line-height: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.btn-getCola{
    float: right;
    width: 94px;
    height: 106px;
    background: #6327FE;
    margin-right: 27px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn-getCola:hover{
    cursor: pointer;
}

.txt-money{
    width: 306px;
    border-radius: 5px;
    
    padding: 6px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #EAE8FE;
}

.txt-money::before{
    content: "소지금 : ";
    width: 47px;
    padding-left: 12px;
    line-height: 32px;
}
.txt-money::after{
    content: "25,000원 ";
    padding-left: 180px;
    width: 87px;
    line-height: 32px;
}

.con-getResult{
    width: 360px;    
    background-color: #eae8fe;
}

.txt-getColaName{
    margin: 0 auto 13px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.con-getCola.result{
    width: 306px;
    height: 364px;
    margin: 0 27px;
    overflow-y: scroll;
}


.con-getCola.result::-webkit-scrollbar {
    width: 4px;  /* 스크롤바의 너비 */

}

.con-getCola.result::-webkit-scrollbar-thumb {
    height: 79%; /* 스크롤바의 길이 */
    background: #FFFFFF;
    border-radius: 50px;
}

.con-getCola.result::-webkit-scrollbar-track {
    background: #EAE8FE; /*스크롤바 뒷 배경*/
}

.txt-totalPrice{
    padding-right: 27px;
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    text-align: right;
}

.con-money{
    padding: 9px 27px;
    background-color: #ffffff;
}
.con-result{
    margin-top: 20px;
    padding: 25px 0 32px;
    background-color: #ffffff;
}

@media screen and (max-width: 764px) {
    body {
        background-color: #fff;
      }

    header img{
        width: 166px;
        height: 70px;
      }
    .con-result{
        margin-top: 0;
    }
    
}