@import url(/reset.css);

html, body{
    width: 1920px;
    height: 963px;
    background: #EAE8FE;
}

header{
    position: absolute;
    width: 436px;
    height: 204px;
    left: 742px;
    top: 0px;
}

.con-main{
    position: absolute;
    width: 360px;
    height: 545px;
    background: #FFFFFF;
    top:247px;
    left:586px
}

.list-cola{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
